h3 {
    color: darkred;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    grid-column: 1/2;
    grid-row: 1/3;
}

h1 {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
    font-size: 100px;
    /* align-self: center; */
    padding-top: 15%;
    letter-spacing: 20px;
    text-align: center;
}

.greybox {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: grey;
}

#grid_parent {
    display: grid;
    width:40%;
    height: 60%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}