@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poiret+One&display=swap');
:root {
    /* color palette */
    --primary-color: #2c140c   ;
    --secondary-color: #8A574B ;
    --accent1-color: #5c3c3c;
    --accent2-color: white;
  
    /* chosen font(s) */
    --heading-font: "Dancing Script", serif;
    --paragraph-font: 'Poiret One', Helvetica, sans-serif;
  
    /* colors chosen from the palette colors */
    --headline-color-on-white: #2c140c;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #2c140c; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #5c3c3c  ;
    --nav-link-color: #948c84;
    --nav-background-color: #2c140c;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #5c3c3c;
  }
body {
  margin: 0;
  padding: 0;
  }
  .fixed {
    max-height: 100%;
    overflow: hidden;
    padding-right: 1%;
  }
footer {
  margin: 0;
  padding: 0;
}
#block1 {
    position: fixed;
    top: 0;
    background-color: white;
    height: 100%;
    width: 15%;
    box-sizing: border-box;
    margin: 0px;
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
header {
    padding: 0 2% 2% 2%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
nav {
    text-align: center;
    align-self: center;
}
a {
    text-decoration: none;
    color: var(--headline-color-on-white);
}
a:hover {
    color: var(--secondary-color);
}
.logoDiv {
   min-width: 150px;
   height: 10%;

}
.logoDiv img {
    width: 100%;
}
.navDiv {
    height: 70%;
    padding-top: 50%;
    text-align: center;
    font-size: 2em;
}

.socialMediaDiv {
    position: relative;
    text-align: center;
    height: 10%;
}

.footerDiv {
    height: 10%;
    text-align: center;
    padding-bottom: 10%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
  }

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }  

.allBlocks {
    width: 100%;
    height: 100%;
}
#block2 {
    padding-left: 17%;
    height: 100vh;
}

.navIcon {
    vertical-align: middle;
    max-width: 35px;
}

.socialMediaIcon {
    max-width: 60px;
    align-self: center;
}

#homeBlock2Up {
    display: flex;
    padding-right: 1%;
    padding-bottom: .5%;
    width: 100%;
    height: 50%;
}

#homeBlock2Up img {
    padding-right: 2%;
    width: 50%;
    height: 100%;
}

#homeBlock2Up div {
    background-color: var(--accent1-color);
    color: var(--paragraph-color-on-color);
    width: 50%;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 1.3em;
}

#homeBlock2Down {
    padding-right: 1%;
    padding-top: 1%;
    width: 100%;
    height: 50%;
}

#homeBlock2Down img {
    width: 100%;
    height: 100%;
}

.button {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.button:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.mobileDiv {
    display: none;
}

#Block2Title {
  width: 100%;
  backdrop-filter: blur(5px);
  text-align: center;
}

#Block2Title img {
  width: 100%;
}

#Block2Title h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
}

#Block2Content {
  height: 100%;
  padding-left: .5%;
  padding-right: 1%;
}

.contentBlock {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr fit-content(100%);
  background-color: var(--accent1-color);
  color: var(--paragraph-color-on-color);
  font-size: 1.5em;
  text-align: center;
  border-radius: 15px;
}

.contentBlock img {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  margin-bottom: 5%;
}

.contentBlock h3 {
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 1.5em;
}

.contentBlock p {
  grid-row: 2/3;
  grid-column: 2/3;
}

.requestDiv {
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.requestDiv p {
  font-size: 1.5em;
  margin-block-start: 0;
}

.homeBlock3Mobile {
  display: none;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  p{  
      font-size: 1em;
  }
  #homeBlock2Up, #Block2Title {
    padding-top: 73px;
    padding-left: 0%;
    flex-direction: column;
    height: auto;
  }

  #Block2Title h2{
    font-size: 2.3em;
    top: 50%;
    z-index: 1;
  }

  #homeBlock2Up img, #homeBlock2Up div{
    width: 100%;
  }

  #homeBlock2Up img {
    padding-bottom: 2%;
  }
  .topnav img {
    height: 40px;
  }
  #block1 {
    display: none;
  }
  .mobileDiv {
    font-family: var(--heading-font );
    margin-top: 0%;
    padding-top: 0%;
    display: flex;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
  }
  
  .topnav {
    text-align: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--nav-background-color);
    color: var(--headline-color-on-color);
    border-left: 0px;
    position: fixed;
    padding: 0;
  }
  
  .topnav #myLinks {
    display: none;
    background-color: var(--secondary-color);
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .active {
    color: white;
  }
  
  #block2 {
    padding-left: 0%;
  }

  .contentBlock {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr fit-content(100%) fit-content(100%);
  }

  .contentBlock img {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .contentBlock h3 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  
  .contentBlock p {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .requestDiv {
    margin-top: 10%;
  }

  .homeBlock3 {
    display: none;
  }

  .homeBlock3Mobile {
    display: inline;
  }

  .fixed {
    max-height: none;
    overflow: inherit;
    padding-right: 0%;
  }
}

